<h1> Choose From The Following </h1>

<a href = "/bookings/new?type=dine " class="tooltip-example demo-button">Dine In<span>Choose This if you want to dine in one of our partnering restaurants<br /></span><a href="/bookings/"></a></a>

<a href = "/bookings/new?type=cater" class="tooltip-example demo-button">Home Catering<span>Choose This if you want the restaurant to come to your home and offer catering things.<br /><img src=""></span></a>

<!--<a href = "/bookings/new " class="tooltip-example demo-button">Add a New Booking<span>Choose This if you want to add a restaurant.<br /><img src=""></span></a>-->


