<h1>Privacy & Terms of Condition </h1>



<p>Your privacy is VERY important to us 
Your privacy is VERY important to us 
Your privacy is VERY important to us 
Your privacy is VERY important to us 
Your privacy is VERY important to us 
Your privacy is VERY important to us 
Your privacy is VERY important to us 

</p>
